<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lequiz.practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Home$SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Home$HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".Category_Activities$MathematicsActivity"
            android:label="@string/mathematics"
            android:parentActivityName=".Category_Activities.MathematicsActivity" />
        <activity
            android:name=".Category_Activities$ReasoningActivity"
            android:label="@string/reasoning"
            android:parentActivityName=".Category_Activities.ReasoningActivity" />
        <activity
            android:name=".Category_Activities$EntertainmentActivity"
            android:label="@string/entertainment"
            android:parentActivityName=".Category_Activities.EntertainmentActivity" />
        <activity
            android:name=".Category_Activities$TechnologyActivity"
            android:label="@string/technology"
            android:parentActivityName=".Category_Activities.TechnologyActivity" />
        <activity
            android:name=".Category_Activities$CurrentAffairsActivity"
            android:label="@string/current_Affairs"
            android:parentActivityName=".Category_Activities.CurrentAffairsActivity" />
        <activity
            android:name=".Category_Activities$ComputerActivity"
            android:label="@string/computer"
            android:parentActivityName=".Category_Activities.ComputerActivity" />
        <activity
            android:name=".Category_Activities$GeneralScienceActivity"
            android:label="@string/general_science"
            android:parentActivityName=".Category_Activities.GeneralScienceActivity" />
        <activity
            android:name=".Category_Activities$EnglishActivity"
            android:label="@string/english"
            android:parentActivityName=".Category_Activities.EnglishActivity" />
        <activity
            android:name=".Category_Activities$SportsActivity"
            android:label="@string/sports"
            android:parentActivityName=".Category_Activities.SportsActivity" />
        <activity
            android:name=".Category_Activities$SpecialActivity"
            android:label="@string/special"
            android:parentActivityName=".Category_Activities.SpecialActivity" />
        <activity
            android:name=".Home$ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".Home.ProfileActivity" />
        <activity
            android:name=".Helpers$NavLeaderboard"
            android:label="@string/leaderboard"
            android:parentActivityName=".Helpers.NavLeaderboard" />
        <activity
            android:name=".Helpers$NavNotifications"
            android:label="@string/notifications"
            android:parentActivityName=".Helpers.NavNotifications" />
        <activity
            android:name=".Helpers$NavPayment"
            android:label="@string/payment"
            android:parentActivityName=".Helpers.NavPayment" />
        <activity
            android:name=".Helpers$NavSettings"
            android:label="@string/settings"
            android:parentActivityName=".Helpers.NavSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Helpers$NavInviteFriends"
            android:label="@string/invite_friends"
            android:parentActivityName=".Helpers.NavInviteFriends"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Home$QuizFactory"
            android:label="@string/quiz_factory"
            android:parentActivityName=".Home.QuizFactory" />
        <activity android:name=".Home$Login" />

        <activity
            android:name=".Category_Activities$CurrentAffairsQuiz"
            android:parentActivityName=".Category_Activities.CurrentAffairsQuiz" />
        <activity
            android:name=".Category_Activities$ComputerQuiz"
            android:parentActivityName=".Category_Activities.ComputerQuiz" />
        <activity
            android:name=".Category_Activities$MathematicsQuiz"
            android:parentActivityName=".Category_Activities.MathematicsQuiz" />
        <activity
            android:name=".Category_Activities$ReasoningQuiz"
            android:parentActivityName=".Category_Activities.ReasoningQuiz" />
        <activity
            android:name=".Category_Activities$GeneralScienceQuiz"
            android:parentActivityName=".Category_Activities.GeneralScienceQuiz" />
        <activity
            android:name=".Category_Activities$EnglishQuiz"
            android:parentActivityName=".Category_Activities.EnglishQuiz" />
        <activity
            android:name=".Category_Activities$TechnologyQuiz"
            android:parentActivityName=".Category_Activities.TechnologyQuiz" />
        <activity
            android:name=".Category_Activities$SportsQuiz"
            android:parentActivityName=".Category_Activities.SportsQuiz" />
        <activity
            android:name=".Category_Activities$EntertainmentQuiz"
            android:parentActivityName=".Category_Activities.EntertainmentQuiz">

        </activity>
    </application>

</manifest>