<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lequiz.practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyMaterialTheme" />
        <activity
            android:name=".MathematicsActivity"
            android:label="@string/mathematics"
            android:parentActivityName=".MathematicsActivity" />
        <activity
            android:name=".ReasoningActivity"
            android:label="@string/reasoning"
            android:parentActivityName=".ReasoningActivity" />
        <activity
            android:name=".EntertainmentActivity"
            android:label="@string/entertainment"
            android:parentActivityName=".EntertainmentActivity" />
        <activity
            android:name=".TechnologyActivity"
            android:label="@string/technology"
            android:parentActivityName=".TechnologyActivity" />
        <activity
            android:name=".CurrentAffairsActivity"
            android:label="@string/current_Affairs"
            android:parentActivityName=".CurrentAffairsActivity" />
        <activity
            android:name=".ComputerActivity"
            android:label="@string/computer"
            android:parentActivityName=".ComputerActivity" />
        <activity
            android:name=".GeneralScienceActivity"
            android:label="@string/general_science"
            android:parentActivityName=".GeneralScienceActivity" />
        <activity
            android:name=".EnglishActivity"
            android:label="@string/english"
            android:parentActivityName=".EnglishActivity" />
        <activity
            android:name=".SportsActivity"
            android:label="@string/sports"
            android:parentActivityName=".SportsActivity" />
        <activity
            android:name=".SpecialActivity"
            android:label="@string/special"
            android:parentActivityName=".SpecialActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".ProfileActivity" />
        <activity
            android:name=".NavLeaderboard"
            android:label="@string/leaderboard"
            android:parentActivityName=".NavLeaderboard" />
        <activity
            android:name=".NavNotifications"
            android:label="@string/notifications"
            android:parentActivityName=".NavNotifications" />
        <activity
            android:name=".NavPayment"
            android:label="@string/payment"
            android:parentActivityName=".NavPayment" />
        <activity
            android:name=".NavSettings"
            android:label="@string/settings"
            android:parentActivityName=".NavSettings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NavInviteFriends"
            android:label="@string/invite_friends"
            android:parentActivityName=".NavInviteFriends"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditProfileActivity"
            android:label="@string/edit_profile"
            android:parentActivityName=".EditProfileActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".QuizFactory"
            android:label="@string/quiz_factory"
            android:parentActivityName=".QuizFactory" />
        <activity
            android:name=".Login" />

        <activity
            android:name=".CurrentAffairsQuiz"
            android:parentActivityName=".CurrentAffairsQuiz" />
        <activity
            android:name=".ComputerQuiz"
            android:parentActivityName=".ComputerQuiz" />
        <activity
            android:name=".MathematicsQuiz"
            android:parentActivityName=".MathematicsQuiz" />
        <activity
            android:name=".ReasoningQuiz"
            android:parentActivityName=".ReasoningQuiz" />
        <activity android:name=".GeneralScienceQuiz"
        android:parentActivityName=".GeneralScienceQuiz"/>
        <activity android:name=".EnglishQuiz"
            android:parentActivityName=".EnglishQuiz"/>
        <activity android:name=".TechnologyQuiz"
            android:parentActivityName=".TechnologyQuiz"/>
        <activity android:name=".SportsQuiz"
            android:parentActivityName=".SportsQuiz"/>
        <activity android:name=".EntertainmentQuiz"
            android:parentActivityName=".EntertainmentQuiz">

        </activity>
    </application>

</manifest>